body {
  background-color:#1abc9c;
}

.ace_editor { height: 200px;
  border: 6px #95a5a6 solid;
}

h1 {
  color: #E3527D
}

h2 {
  color: #A81642;
}

.headerDiv {
  margin: 1em 2em 0em 2em;
  background-color:#16a085;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.workspace {
  padding:2em;
  background-color:#bdc3c7;
  border-radius: 2em;
  box-shadow: 8px 8px #95a5a6;
  border: 1px #BBBBBB solid;
/*  border: solid 5px #DE334F;*/
}

.footerDiv {
  height:2em;
  margin: 0em 2em 1em 2em;
  background-color:#16a085;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#tutorial {
  margin:1em;
}

#codeEditors {
  background-color:#95a5a6;
  padding: 0px;
  border-top: 6px #7f8c8d solid;
  border-left: 6px #7f8c8d solid;
  margin: .5em;
}

#codeView {
  height: 400px;
  background-color:#95a5a6;
  margin: .5em;
  border-top: 6px #7f8c8d solid;
  border-left: 6px #7f8c8d solid;
}

/*
-----------------------------
----Answer Option Classes----
-----------------------------*/

.optionDivs {
  width: 40px;
  height:1em;
  display: inline;
  border: 1px solid gray;
}

.lightblue {
  background-color:lightblue;
}

.dodgerblue {
  background-color:dodgerblue;
}

.pink {
  background-color:pink;
}

.mediumpurple {
  background-color:mediumpurple;
}

.darkslateblue {
  background-color:darkslateblue;
}

.brown {
  background-color:brown;
}

.burlywood {
  background-color:burlywood;
}

.darkgray {
  background-color:darkgray;
}

.darkgreen {
  background-color:darkgreen;
}

.aliceblue {
  background-color:aliceblue;
}
