<div class="headerDiv"></div>
<div class="workspace">
    <div id="tutorial" ng-controller="tutorialController as tutCtrl">
        <p>Tutorial</p>
        <span>Hi! What's your name?  </span><input type="text" ng-model="name" placeholder="Enter name"></input>
            <!-- 4. {{ Data Binding Expression }} -->
        <p>Welcome, {{name}}!</p>
        <button id="submitConsole">Submit</button>
        <!-- HERE GOES THE DATA -->
        <p>Id: {{tutCtrl.data[0].id}}</p>
        <p>Title: {{tutCtrl.data[0].title}}</p>
        <p>Content: {{tutCtrl.data[0].question}}</p>

        <form ng-init="answerOptions = tutCtrl.data[0].answerOptions">
        <fieldset>
        <legend>what coleur</legend>
            <div ng-repeat="answerOption in answerOptions" class="optionDivs" ng-style="selectedAnswerStyle={'background-color':'answerOption'}">
                <input type="radio" value="answerOption" ng-click="tutCtrl.submit(answerOption)"/>
            </div>
        </fieldset>
        <div ng-style="selectedAnswerStyle"> Sky color: {{tutCtrl.data[0].selectedAnswer}}</div>
        </form>

        <p>

    </div>
    <div id="editor">function foo(items) {
                var x = "All this is syntax highlighted";
                return x;
                }
    </div>
 <!--    <div ui-ace="{
            useWrapMode : true,
            showGutter: false,
            theme:'twilight',
            mode: 'xml',
            firstLineNumber: 5,
            onLoad: aceLoaded,
            onChange: aceChanged
            }"></div> -->

    <div id="view">
        <p>View</p>
    </div>
</div>
<div class="footerDiv"></div>
