<div class="headerDiv"></div>
<div class="workspace">
    <div id="tutorial" ng-controller="tutorialController as tutCtrl">
        <p>Tutorial</p>

        <!-- HERE GOES THE DATA -->
        <p>Id: {{tutCtrl.question.id}}</p>
        <p>Title: {{tutCtrl.question.title}}</p>
        <p>Content: {{tutCtrl.question.question}}</p>

        <form >
        <fieldset>
        <legend>sky colors options</legend>
        <input type="button" ng-repeat="answerOption in tutCtrl.question.answerOptions" value="{{answerOption}}" ng-click="tutCtrl.submit(answerOption)" ng-class="'{{answerOption}}'"/>
        </fieldset>
        <div ng-class="tutCtrl.selectedAnswer"> Chosen color: {{tutCtrl.selectedAnswer}}</div>
        </form>

        <p>

    </div>
    <div id="codeEditors">
        <div id="editor1" ui-ace="{
            useWrapMode : true,
            showGutter: true,
            theme:'katzenmilch',
            mode: 'html',
            firstLineNumber: 1,
            onLoad: aceLoaded,
            onChange: aceChanged
            }"> "Hello! I am the code editor for HTML!"
        </div>
        <div id="editor2" ui-ace="{
            useWrapMode : true,
            showGutter: true,
            theme:'cobalt',
            mode: 'css',
            firstLineNumber: 1,
            onLoad: aceLoaded,
            onChange: aceChanged
            }"> "And I am the code editor for CSS!"
        </div>
    </div>
    <div id="view">
        <p>View</p>
    </div>
</div>
<div class="footerDiv"></div>
