<div class="headerDiv"></div>
<div class="workspace">
    <div id="tutorial" ng-controller="tutorialController as tutCtrl">
        <p>Tutorial</p>

        <!-- HERE GOES THE DATA -->
        <p>Id: {{tutCtrl.data[0].id}}</p>
        <p>Title: {{tutCtrl.data[0].title}}</p>
        <p>Content: {{tutCtrl.data[0].question}}</p>

        <form ng-init="answerOptions = tutCtrl.data[0].answerOptions">
        <fieldset>
        <legend>sky colors options</legend>
        <input type="button" ng-repeat="answerOption in answerOptions" value="{{answerOption}}" ng-click="tutCtrl.submit(answerOption)" ng-class="'{{answerOption}}'"/>
        </fieldset>
        <div ng-class="tutCtrl.selectedAnswer"> Chosen color: {{tutCtrl.selectedAnswer}}</div>
        </form>

        <p>

    </div>
    <div id="editor">function foo(items) {
                var x = "All this is syntax highlighted";
                return x;
                }
    </div>
 <!--    <div ui-ace="{
            useWrapMode : true,
            showGutter: false,
            theme:'twilight',
            mode: 'xml',
            firstLineNumber: 5,
            onLoad: aceLoaded,
            onChange: aceChanged
            }"></div> -->

    <div id="view">
        <p>View</p>
    </div>
</div>
<div class="footerDiv"></div>
