.ace_editor { height: 200px; }

.head {
  position:absolute;
  top:0;
  height: 30px;
  display:block;
}

.workspace {
  margin-top:30px;
}

.foot {

}

#tutorial {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 20%;
  display: inline-block;

}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35%;
  height: 100%;
  width: 50%;
  display: inline-block;
}

#view {
  height: 100%;
  width: 20%;
  margin-left: 90%;
}

/*
-----------------------------
----Answer Option Classes----
-----------------------------*/

.optionDivs {
  width: 40px;
  height:1em;
  display: inline;
  border: 1px solid gray;
}

.lightblue {
  background-color:lightblue;
}

.dodgerblue {
  background-color:dodgerblue;
}

.pink {
  background-color:pink;
}

.mediumpurple {
  background-color:mediumpurple;
}

.darkslateblue {
  background-color:darkslateblue;
}
